#!/usr/bin/env bash
# vim: ft=bash
set -euo pipefail

ARGS=(
  verifyEre
  --network:'{{ nimbus_ere_files_network | mandatory }}'
  --ere-dir:'{{ nimbus_ere_files_dir }}'
  --era-dir:'{{ nimbus_ere_files_era_dir }}'
)

exec '{{ nimbus_ere_files_exporter_path | mandatory }}' "${ARGS[@]}" "$@"
