---
# Docker image builds
beacon_node_builds_docker_hub_user: '{{lookup("passwordstore", "cloud/DockerHub/user")}}'
beacon_node_builds_docker_hub_token: '{{lookup("passwordstore", "cloud/DockerHub/token")}}'

# Use Infura instead of Geth for comparison
beacon_node_web3_url: 'wss://goerli.infura.io/ws/v3/675db4626923473591cf6418e4dae175'

# The -large suffix is because of native compilation.
beacon_node_builds_branches:
  - name: 'unstable-large'
    version: 'unstable'
    targets: ['nimbus_beacon_node', 'nimbus_signing_process']
    frequency: '*-*-* 10:00:00'
  - name: 'testing-large'
    version: 'testing'
    targets: ['nimbus_beacon_node', 'nimbus_signing_process']
    frequency: '*-*-* 06:00:00'
  - name: 'stable-large'
    version: 'stable'
    targets: ['nimbus_beacon_node', 'nimbus_signing_process']
    frequency: '*-*-* 02:00:00'
  - name: 'deploy-eth2-prod'
    version: 'v1.0.10'
    targets: ['nimbus_beacon_node', 'nimbus_signing_process']
    enabled: false
    update: true
