---
# Passwords
bootstrap__active_users_passwords:            '{{ bootstrap__active_users | get_user_passwords }}'
bootstrap__admin_pass:                        '{{lookup("vault", "users",             field="admin",              env="all", stage="all")}}'
bootstrap__root_pass:                         '{{lookup("vault", "users",             field="root",               env="all", stage="all")}}'
# Consul
bootstrap__consul_encryption_key:             '{{lookup("vault", "consul/config",     field="encryption-key",       env="all", stage="all")}}'
bootstrap__consul_agent_acl_token:            '{{lookup("vault", "consul/acl-tokens", field="agent-default",        env="all", stage="all")}}'
bootstrap__consul_service_registration_token: '{{lookup("vault", "consul/acl-tokens", field="service-registration", env="all", stage="all")}}'
bootstrap__consul_agent_admin_token:          '{{lookup("vault", "consul/acl-tokens", field="agent-admin",          env="all", stage="all")}}'
bootstrap__consul_certs_ca_crt:               '{{lookup("vault", "consul/certs",      field="ca.pem",               env="all", stage="all")}}'
bootstrap__consul_certs_client_crt:           '{{lookup("vault", "consul/certs",      field="client.pem",           env="all", stage="all")}}'
bootstrap__consul_certs_client_key:           '{{lookup("vault", "consul/certs",      field="client-key.pem",       env="all", stage="all")}}'
# Vault certificate
bootstrap__vault_ca_cert:                     '{{ lookup("passwordstore", "services/vault/certs/root-ca/cert returnall=true")}}'
bootstrap__vault_client_cert:                 '{{ lookup("passwordstore", "services/vault/certs/client-host/cert returnall=true")}}'
bootstrap__vault_client_key:                  '{{ lookup("passwordstore", "services/vault/certs/client-host/privkey returnall=true")}}'
# SSHGuard
bootstrap__sshguard_whitelist_extra:          ['{{lookup("vault", "sshguard/whitelist",    field="jakubgs-home", env="all", stage="all")}}']
# Wireguard
wireguard_consul_acl_token:                   '{{lookup("vault", "consul/acl-tokens", field="wireguard",          env="all", stage="all")}}'
# Wazuh Agent
wazuh_agent_enrollment_key:                   '{{ lookup("vault", "manager/config", field="enrollment-password",  env="hq",  stage="wazuh")}}'
wazuh_root_ca:                                '{{ lookup("vault", "root-ca",        field="certificate",          env="hq",  stage="wazuh")}}'

# Custom SSH accounts for Nimbus fleet, should start from UID 8000.
bootstrap__active_extra_users:
  - { name: jacek,         uid: 7017, admin: true,  win_groups: ['Administrators'], mac_groups: ['admin'], key: 'ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAn/DafiXekTLUKznvRmdEBit5ZQ2DN+C25oom41ZMe8YvUe5y10dEpY5xHq37hMfE/B3LOVuCLOvWvV4wp8VIQHBmtI5olFQc7bNk+VyfHOSj7/e54vfkVHzbicUpMXaKLqxo7u9m5/lTE3JTKxbj6jIEIDMEUglXs8p9FGnKlJeEYBO7NDDfFa1NtrmJeQUQO7PCt4Ik8IAgqua07T1AEm9qADs6UPhjJ9zyr+QPo3Lk6qcQ/MFB4OQ8ZfiPGJ9Bx/doDSED5Ik3Y/yrb0vgWRR0Co5oVCAyx/jyNDxDtDSGE7TTMD3DGQyvnuBsvSm+vyrNuD3Sziy+aX4KNXRCTQ== arnetheduck@creator', pass: '$y$j9T$KAVZBCsZRMJJo7uXb68V4.$MG0IqFf/iXH3mIPLg3z4U/vv4urcVzRivPz1w/vXv44' }
  - { name: dustin,        uid: 8001, admin: true,  win_groups: ['Administrators'], mac_groups: ['admin'], key: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKrxMjWZZJ7E6EQY77IbOGaj1q6YzlRnQnCbTQqZja4c user@merfeint', pass: '$y$j9T$o9DJKeUDGLUg5rqMY2pm80$Ib2c5FcKtu2CI4W56oP2z37.Cg/evrcD9LtMkgiibQ3' }
  - { name: kim,           uid: 8005, admin: true,  win_groups: ['Administrators'], mac_groups: ['admin'], key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDCQdvm2Hd3h3sPDVmLXAxQQXDYyuHCZne/3oIkMTn8zUjky66VRMUoIuZy7CqjCa/cKnBnq+n7FDwqSytIFln2fFIHC1yqrjG4YxHa8OyrT/H29wedOA1X4XHyU44JUXxTcAb+Mvnn7IjRQ42+orIFu4LAlUQAlJkta/weXlA+N1yPAkv168IbhsWYGd0myGqafiFbCo/IaTFKezs9TXfEBtSTzBTwLusFfnTUdyiNFZqkk3hq/7m13/HE0fI0iQ2y+Q1EXgYxT8C3a625n8n3zldaiKUBHQm7+DJdJllURstXhq35XFmhlUx4N+QbognoxqZ00pWRIOE/ooPW2rqv kim.demey@status.im', pass: '$y$jFT$dfc5L7hANutGt.2IP57IR0$bmsFXzHs4.LgcfRn4hUwhnzpEsxYTxoWsfRtG0BNb.5' }
  - { name: cheatfate,     uid: 8008, admin: true,  win_groups: ['Administrators'], mac_groups: ['admin'], key: 'ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAgEAkw8sQiChWeUuXUbaWunScWKuAvYTmCP2+lklQNSzzxXpkQhGzLFnlsksTB1sKtQ6op4yDpysx1lp8E2pf2VlACIjSc7t39VY1vsQaAlBfvssLc9LGFMXIIOz4RZaIbbsbplIxI7IpkdhGk9WdD/QAO8fCl8gJ2SoAWMROds2oUDCir0VfsOupFtqQ9FUC4ANf4nHWqk9TwiVXU+nndeWWj8cYNGBq/3rWgn+tQTomQooYaoQHqslLFzmLYK2dJX8qrJDx1pX99h/aLhbbyCBnBZRSOzhNfpa9bRraofcKigNvLAUIfaRDhOize8C4/6WMOcyQVGNEmReBAzHGk5yoUJeMWENZAMCeWsY7cbdiKmEyDPlRDNGuzBlXkdFlJSlNYs1xhZsKkkiAdpSNrZB9/WOpBaKWba+7VRC4ejuuBhYr04kh22UJi4cc9xX0pyYc4tZ9MyjqTMSJoKGFceUXm1ne5g7nxdo1z4/Z6sQd4vFBCvKWFPpJx1cW0n+2XvFSoehou2sEGfoQp8UvSFhuiA/kA56OuahHQANBJBTqpKSCesSc8Y/4ys27qU8tSPjADWOtwxElUQpoBRbcAfTpNLy8r0AjAQFnAcj1Tq0dh+kIe03HPabx5b05Wq8K0opqkX1yPd5yI9IAPNhmbVMuONOEHhyTYCyhHK2ASdXSy0= eugene.kabanov@status.im' }
  - { name: etan,          uid: 8010, admin: true,  win_groups: ['Administrators'], mac_groups: ['admin'], key: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOguworK7iqh7hPjC1AL3eCe+OZcK7tWRqThyBrEK6r2 etan@status.im' }
  - { name: crypt1d,       uid: 8013, admin: false,                                                        key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC8A+BRe9eLtN/y+NmX0vEQ7cHNgBLszZPfPjPm385w4c9r3ErGQJBqGd3jAjVn44z7AoDDjBhwmVh/47/6MwGnQuhRR7gVyFqowE0LawZ0paQKXvHVqGgW3wD+BwN155xOM0LQfVcWeJUfFTZ3YfZLCTVk1Nnd78J1q8ar/tg3uvyPXmYLkcGcXSnGOq8UeJ6ZhQxyELCSnGOilI4rgVEuxEOi0xWJNJMVyE5CtGu9jM/RLTjtfc6VNQFyc7aU31XcXKdwg9okWnfbDJgLAJp19vfHxT+l5muVWGYPQtyaw8BIA6YIphrX8Q99eHVWoMint5klGcUsGUcJPQc3dr/b nikola@status.im' }
  - { name: bhartnett,     uid: 8014, admin: true,  win_groups: ['Administrators'], mac_groups: ['admin'], key: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKslHEMZPOSFNc9dIE+G5I5q35iyC5lbtR0vmoYmTQMI benjamin@status.im', pass: '$y$j9T$K0b.IBl/Daku57VTM6v3c.$lDDLHbRPYw.ZPQvtfE9Xd1qJk.qjXp9cTgjhVRVIK70' }
  - { name: mjfh,          uid: 8015, admin: false,                                                        key: 'ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBCO3FzehJJadocFUwiGpl4oTzfwflzHNbuEUGuOj5ZeBsF476ssV8ud4igjmzCrC/CzguYBnZGTaNnO7Ia+BBl4= jordan@dry' }
  - { name: advaita,       uid: 8016, admin: false,                                                        key: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG3lkR4I8zLbHOa/pQpvj6xAnRsI8Tmg0GRGPU0I4B5i saha.advaita@gmail.com' }
  - { name: jangko,        uid: 8017, admin: false,                                                        key: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGOwuxCjPfRP1WO8a1I57kjtyk7S12z49xofOEeKaLsr andri@status.im' }
  - { name: ahshum,        uid: 8018, admin: false,                                                        key: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJQ2SAUZW5NFMT3Qnk65lC/NmEr3GYNree1ZVnIC3nJz sam.shum@status.im' }

# TRACE needs more disk space
bootstrap__rsyslog_docker_logs_path: '/docker/log'
# Print just the message, lower size of log files and make parsing easier
bootstrap__rsyslog_docker_format: !unsafe '%msg:2:2048%\n'
# Some logs are just SPAMmed too much.
bootstrap__rsyslog_filter_rules:
  - 'Attestation resolved'
  - 'Attestation received'
  - 'Could not decode handshake auth message'
# lower local retention to save space
bootstrap__logrotate_frequency: 'hourly'
bootstrap__logrotate_count: 72 # 3 days
bootstrap__logrotate_mbytes: 500

# Extra packages for debugging
bootstrap__extra_packages:
  - gdb
  - linux-tools-common
  - linux-tools-generic
bootstrap_sysctl_config:
  kernel.core_pattern: '/var/lib/systemd/coredump/core.%e.%p.%u.%t'
  fs.inotify.max_user_watches: 131072
  # Allow calling 'perf' without root'
  kernel.perf_event_paranoid: 1

# MTR network latency metrics
bootstrap__mtr_jobs:
  - { name: 'github-icmp', addr: 'github.com', flags: '-c1' }

# Consul Catalog Query URL
consul_catalog_url: 'http://localhost:8500/v1/catalog'

# Beacon nodes can be quite memory hungry
swap_file_path: '/docker/main.swap'
swap_file_size_mb: 2048

# Nimbus ------------------------------
beacon_node_log_level: DEBUG

# Peers
beacon_node_max_peers: 320

# VC inherits Consul settings from BN
validator_client_consul_check_disabled:           '{{ beacon_node_consul_check_disabled }}'
validator_client_consul_check_interval:           '{{ beacon_node_consul_check_interval }}'
validator_client_consul_check_timeout:            '{{ beacon_node_consul_check_timeout }}'
validator_client_consul_success_before_passing:   '{{ beacon_node_consul_success_before_passing }}'
validator_client_consul_failures_before_warning:  '{{ beacon_node_consul_failures_before_warning }}'
validator_client_consul_failures_before_critical: '{{ beacon_node_consul_failures_before_critical }}'

# nimbus-eth1 inherits Consul settings from BN
nimbus_eth1_consul_check_disabled:           '{{ beacon_node_consul_check_disabled }}'
nimbus_eth1_consul_check_interval:           '{{ beacon_node_consul_check_interval }}'
nimbus_eth1_consul_check_timeout:            '{{ beacon_node_consul_check_timeout }}'
nimbus_eth1_consul_success_before_passing:   '{{ beacon_node_consul_success_before_passing }}'
nimbus_eth1_consul_failures_before_warning:  '{{ beacon_node_consul_failures_before_warning }}'
nimbus_eth1_consul_failures_before_critical: '{{ beacon_node_consul_failures_before_critical }}'
