---
# general container config
cont_state: started
cont_recreate: false
cont_restart: false

# CloudFlare Origin certificates
origin_certs:
  - domain: 'status.im'
    crt: '{{lookup("passwordstore", "cloud/Cloudflare/status.im/origin.crt returnall=true")}}'
    key: '{{lookup("passwordstore", "cloud/Cloudflare/status.im/origin.key returnall=true")}}'
    default: true

# Root password
bootstrap__root_pass: '{{lookup("passwordstore", "hosts/admin-pass")}}'

# Consul Encryption
consul_encryption_key: '{{lookup("passwordstore", "services/consul/encryption-key")}}'

# Disable Watchtower cleanup to avoid removal errors
bootstrap__watchtower_cleanup_flag: false

# Custom SSH accounts for Nimbus fleet
bootstrap__active_users:
  - { name: adamb,   uid: 7003, groups: [] }
  - { name: jakub,   uid: 7006, groups: [] }
  - { name: petty   ,uid: 7028, groups: [] }
  - { name: igor,    uid: 7015, groups: [] }
  - { name: dustin,  uid: 7016, groups: [], key: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKrxMjWZZJ7E6EQY77IbOGaj1q6YzlRnQnCbTQqZja4c user@merfeint' }
  - { name: jacek,   uid: 7017, groups: [], key: 'ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAn/DafiXekTLUKznvRmdEBit5ZQ2DN+C25oom41ZMe8YvUe5y10dEpY5xHq37hMfE/B3LOVuCLOvWvV4wp8VIQHBmtI5olFQc7bNk+VyfHOSj7/e54vfkVHzbicUpMXaKLqxo7u9m5/lTE3JTKxbj6jIEIDMEUglXs8p9FGnKlJeEYBO7NDDfFa1NtrmJeQUQO7PCt4Ik8IAgqua07T1AEm9qADs6UPhjJ9zyr+QPo3Lk6qcQ/MFB4OQ8ZfiPGJ9Bx/doDSED5Ik3Y/yrb0vgWRR0Co5oVCAyx/jyNDxDtDSGE7TTMD3DGQyvnuBsvSm+vyrNuD3Sziy+aX4KNXRCTQ== arnetheduck@creator' }
  - { name: mamy,    uid: 7025, groups: [], key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCr/O5OUmeUaSzVTotWHBUCCkD+LhzT8HxmuuZ3bUiL6Cp0/1vrUZDlduNJjjIDdHs5mcFBGAPn3vRF31CnG0aoe29RXYAwEPBL3dYQ0zZv0n4RT/XUGirnpbv3LnURvpg7+2JuO+ebrK6LSmRG45YebyipzSimE6Q80isbbDUh6PXJEhiRAslvnkPskOF5qNnKcuZtCfiJ6UdlJ8YDPidEZ5NDW+NDfAWQyo9r7ZY3EsaKJ2honUx0CkxLti1WalG83zdWFOr3xrmEyJM69h4yigut2Xc0iuFmj915rFMS+gxcXG00DOVftqQ0kAf/eOVB/LlDUfs9r9mhod0y2wlX mamy@status.im' }
  - { name: stefan,  uid: 7029, groups: [], key: 'ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAw+3UpA5lT+8uAHdexl8isVhJX/I9knR34IRRkvEUaJzFF8XbTBeMsFHWTdY97zA9pl3GToKAymsw6+kBJ21yNztmRBQIpI1zmdhX6rV2u7waZUcOzyZDclOAG51TOijbzjWtDS/O0OGCEUsWDU8vvX10YGg0nHOjGI6uumUJYQp67C1Z5101Ygn3IhkBStzc7Pk2rUDErYFhom4KKD8w66vrPG9kqsR2i/pcW3EPI/5dz8FriaK+GB7OoZ7nTFhP/IlIV7hJUQZaOA69hkwwBz8LE6eTgoZwX6Q4b+ZxMXBR51xiljMYfKYg4FUGhcRdljxPr8HbObOf5YwTz5Vtaw== stefan@status.im' }

bootstrap__inactive_users:
  - { name: bruno,   uid: 7026, groups: [] }
  - { name: yglukhov,uid: 7027, groups: [] }
