---
beacon_node_network: 'pyrmont'
beacon_node_cont_tag: 'testing-{{ (hostname is search("large")) | ternary("large", "small") }}'
dist_validators_layout:
  "testing-large-01.aws-eu-central-1a.nimbus.pyrmont": { start: 4500, end: 7750 }  # 3250
  "testing-small-01.aws-eu-central-1a.nimbus.pyrmont": { start: 7750, end: 9750 }  # 2000
  "testing-small-02.aws-eu-central-1a.nimbus.pyrmont": { start: 9750, end: 10750 } # 1000
  "testing-small-03.aws-eu-central-1a.nimbus.pyrmont": { start: 0, end: 0 } # bootstrap nodes
  "testing-small-04.aws-eu-central-1a.nimbus.pyrmont": { start: 0, end: 0 }

