---
- name: 'Verify Ansible versions'
  hosts: all
  tags: always
  become: false
  run_once: true
  gather_facts: false
  tasks:
    - local_action: command ./roles.py --check
      changed_when: false

- name: Deploy Mainnet Archive Reth + Ligthouse
  become: true
  hosts: nimbus-mainnet-archive
  pre_tasks:
    - name: Enable Maintenance Mode
      command: 'maintenance Ansible run by {{ lookup("env", "USER") }}'
      tags: always
  post_tasks:
    - name: Disable Maintenance Mode
      command: 'maintenance disable'
      tags: always
      when: not testing
  roles:
    - { role: infra-role-open-ports,            tags: [ open-ports ] }
    - { role: infra-role-reth,                  tags: [reth] }
    - { role: infra-role-lighthouse,            tags: [lighthouse] }
    - { role: infra-role-eth-validator-watcher, tags: [eth-validator-watcher] }
