---
- name: Verify Ansible versions
  hosts: all
  tags: always
  become: false
  run_once: true
  gather_facts: false
  tasks:
    - local_action: command ./versioncheck.py
      changed_when: false

- name: Configure RocketPool & Eth1 nodes
  become: true
  hosts:
    - nimbus-eth1-metal
  roles:
    - { role: infra-role-rocketpool-smart-node, tags: rocketpool }
    - { role: infra-role-nimbus-eth1,           tags: nimbus-eth1 }
