---
- name: Verify Ansible versions
  hosts: all
  tags: always
  become: false
  run_once: true
  gather_facts: false
  tasks:
    - local_action: command ./versioncheck.py
      changed_when: false

- name: Deploy prater Linux beacon nodes
  become: true
  # To avoid clashing/duplicate validators.
  any_errors_fatal: true
  hosts:
    - nimbus-prater-stable
    - nimbus-prater-testing
    - nimbus-prater-unstable
    - nimbus-prater-unstable-libp2p-stable
    - nimbus-prater-unstable-libp2p-unstable
  roles:
    - role: get-geth-web3-urls
      tags: get-geth-web3-urls
    - role: infra-role-beacon-node-docker
      tags: beacon-node

- name: Deploy mainnet linux beacon nodes
  become: true
  hosts: nimbus-prater-metal
  roles:
    - { role: get-geth-web3-urls, tags: [ get-geth-web3-urls ] }
  tasks:
    - include_role: name=infra-role-beacon-node-linux
      tags: beacon-node
      vars:
        # TEMPORARY switch for Prater Altair transition
        beacon_node_service_name: 'beacon-node-{{ beacon_node_network }}-{{ node.branch }}'
        beacon_node_repo_branch: "unstable"
        beacon_node_threads: '{{ (node.branch == "testing") | ternary(4, 1) }}'
        beacon_node_build_frequency: '{{ node.build_frequency }}'
        beacon_node_discovery_port: '{{ 9000 + port_offset }}'
        beacon_node_listening_port: '{{ 9000 + port_offset }}'
        beacon_node_metrics_port:   '{{ 9200 + port_offset }}'
        beacon_node_rest_port:      '{{ 9300 + port_offset }}'
        beacon_node_rpc_enabled:    true
        beacon_node_rpc_port:       '{{ 9900 + port_offset }}'
        beacon_node_dist_validators_start: '{{ node.start }}'
        beacon_node_dist_validators_end: '{{ node.end }}'
      with_items:
        - { branch: 'stable',   start: 10000, end: 12500, build_frequency: '*-*-* 12:00:00' }
        - { branch: 'testing',  start: 22500, end: 25000, build_frequency: '*-*-* 16:00:00' }
        - { branch: 'unstable', start: 35000, end: 37500, build_frequency: '*-*-* 14:00:00' }
      loop_control:
        loop_var: node
        index_var: port_offset

- name: Deploy prater Windows beacon nodes
  become: true
  hosts: nimbus-prater-windows
  fact_path: 'C:/ansible/facts.d'
  tasks:
    - include_role: name=infra-role-beacon-node-windows
      tags: beacon-node
      vars:
        # TEMPORARY switch for Prater Altair transition
        beacon_node_service_name: 'beacon-node-{{ beacon_node_network }}-{{ node.branch }}'
        beacon_node_repo_branch: 'unstable'
        beacon_node_build_start_time: '{{ node.build_start }}'
        beacon_node_discovery_port: '{{ 9000 + port_offset }}'
        beacon_node_listening_port: '{{ 9000 + port_offset }}'
        beacon_node_metrics_port:   '{{ 9200 + port_offset }}'
        beacon_node_rest_port:      '{{ 9300 + port_offset }}'
        beacon_node_rpc_port:       '{{ 9900 + port_offset }}'
        beacon_node_dist_validators_start: '{{ node.start }}'
        beacon_node_dist_validators_end: '{{ node.end }}'
        beacon_node_log_level: 'INFO'
      with_items:
        - { branch: 'stable',   start: 7500,  end: 10000, build_start: '13:00:00' }
        - { branch: 'unstable', start: 20000, end: 22500, build_start: '15:00:00' }
        - { branch: 'testing',  start: 32500, end: 35000, build_start: '17:00:00' }
      loop_control:
        loop_var: node
        index_var: port_offset

- name: Deploy prater macOS beacon nodes
  become: true
  remote_user: administrator
  hosts: nimbus-prater-macos
  tasks:
    - include_role: name=infra-role-beacon-node-macos
      tags: [ beacon-node, infra-role-beacon-node-macos ]
      vars:
        beacon_node_repo_branch: '{{ node.branch }}'
        beacon_node_build_frequency: '{{ node.build_frequency }}'
        beacon_node_discovery_port: '{{ 9000 + port_offset }}'
        beacon_node_listening_port: '{{ 9000 + port_offset }}'
        beacon_node_metrics_port:   '{{ 9200 + port_offset }}'
        beacon_node_rpc_port:       '{{ 9900 + port_offset }}'
        beacon_node_dist_validators_enabled: false
        beacon_node_dist_validators_start: '{{ node.start }}'
        beacon_node_dist_validators_end: '{{ node.end }}'
      with_items:
        - { branch: 'stable',   start: 0, end: 0, beacon_node_build_start_time: {'hour': '12', 'minute': '00'} }
        - { branch: 'testing',  start: 0, end: 0, beacon_node_build_start_time: {'hour': '14', 'minute': '00'} }
        - { branch: 'unstable', start: 0, end: 0, beacon_node_build_start_time: {'hour': '16', 'minute': '00'} }
      loop_control:
        loop_var: node
        index_var: port_offset
