---
- name: 'Verify Ansible versions'
  hosts: all
  run_once: true
  connection: local
  tags: always
  gather_facts: false
  tasks:
    - local_action: command ./versioncheck.py
      changed_when: false

- name: Configure build nodes
  become: true
  hosts:
    - testing-large-01.aws-eu-central-1a.nimbus.pyrmont
  roles:
    - { role: beacon-node-builds,     tags: beacon-node-builds }

- name: Configure network prater
  become: true
  # To avoid clashing/duplicate validators.
  any_errors_fatal: true
  hosts:
    - nimbus-prater-stable
    - nimbus-prater-testing
    - nimbus-prater-unstable
    - nimbus-prater-unstable-libp2p-stable
    - nimbus-prater-unstable-libp2p-unstable
  pre_tasks:
    - name: Discover Goerli Geth WebSocket endpoint
      tags: [ infra-role-beacon-node, beacon-node ]
      uri:
        url: '{{ consul_catalog_url }}/service/nimbus-goerli-node-ws'
      register: geth_service

    - name: Extract Goerli Geth WebSocket URL
      tags: [ infra-role-beacon-node, beacon-node ]
      set_fact:
        beacon_node_web3_url: 'ws://{{ geth_service.json[0].ServiceAddress }}:{{ geth_service.json[0].ServicePort }}'
  roles:
    - { role: distribute-validators,  tags: [ distribute-validators ] }
    - { role: infra-role-beacon-node, tags: [ infra-role-beacon-node, beacon-node ] }
